label {
  display: block;
}
input {
  margin-left: 20px;
  margin-top: 20px;
}
input[type="checkbox"] {
  margin-right: 20px;
}
button {
  display: block;
  max-width: 200px;
  padding: 10px 20 px;
  margin-top: 20px;
}
span {
  color: red;
}
form {
  border: 3px solid goldenrod;
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
